<div class="container">
    <div class="products-container">
      <!-- Atribúty s hviezdičkou sa volajú štrukturálne direktívy, lebo
           odoberajú, alebo pridávajú elementy v pohľade. ngFor používa
           svojskú syntax na iterovanie poľa.

           Krabicové zátvorky [] definujú väzbu smerom dnu -
             vstupný parameter product je naviazaný na premennú product.

           Banánové zátvorky () definujú väzbu smerom von -
             reakciou na udalosť order komponentu ProductComponent je vykonanie
             this.order.emit($event) - a teda vyvolanie rovnakej udalosti
             na komponente ProductListComponent.

           Ďalšou vecou, ktorá stojí za povšimnutie je, že sa snažíme
           obmedzovať komunikáciu komponentu s vonkajším svetom a tlačiť
           rozhodnutie o tom, čo sa má vykonať čo najvyššie v strome komponentov.
           To uľahčuje znovupoužitie a testovanie komponentov.

           V prípade vyhľadávania nechávame bussiness logiku na komponente
           SearchComponent. -->
      <product *ngFor="let product of products" [product]="product"
         (order)="order.emit($event)">
      </product>
  </div>
</div>
