<div id="banner-container">
    <div class="container">
        <span class="text">
        </span>
        <!-- Rovnako ako na HTML event sa reaguje aj na specificke eventy nasich
        komponentov. $e odkazuje na payload udalosti, v nasom pripade string s otazkou
        na vyhladavanie -->
        <search-bar (search)="search($event)"></search-bar>
    </div>
</div>
<div [ngSwitch]="hasResults()">
  <div *ngSwitchCase="true"><product-list [products]="results.products" (order)="order($event)"></product-list></div>
  <div *ngSwitchDefault class="container"><p>Zatiaľ žiadne výsledky.</div>
</div>
